<%= render "errors", object: @user %>
<article>
  <%= form_for @user do |f| %>
    <ul>
      <li>
        <%= f.label :name%>
        <%= f.text_field :name, autofocus: true  %>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ul>
    <%= f.submit "Create Account" %>
  <% end %>
</article>
