<%= render "errors", object: @user %>
<article>
  <%= form_for @user do |f| %>
    <ul>
      <li>
        <%= f.label :name%>
        <%= f.text_field :name, autofocus: true  %>
      </li>
      <li>
        <%= f.label :username%>
        <%= f.text_field :username  %>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ul>
    <% if current_page?(signup_path) %>
      <%= f.submit "Create Account" %>
    <% else %>
      <%= f.submit "Update Account" %>
    <% end %>
  <% end %>
</article>


<p>
  <%= link_to "Cancel", root_path %>
</p>
