<% title @user.name %>

<header>
  <h2>
    Showing <%= @user.name %>'s account
  </h2>
</header>

<p class="profile_image">
  <%= gravatar_image(@user) %>
</p>

<article>
    <table>
      <tr>
        <th>
          User Name:
        </th>
        <td>
          <%= @user.name %>
        </td>
      </tr>
      <tr>
        <th>
          Username:
        </th>
        <td>
          <%=  @user.username %>
        </td>
      </tr>
      <tr>
        <th>
          User Email:
        </th>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      <tr>
        <th>
          User Since:
        </th>
        <td>
          <%= present_created_at @user %>
        </td>
      </tr>
    </table>
    <br />
</article>

<% if @following.any? %>
<h3>Following:</h3>
<% @following.each do |f| %>
<p>
  <%= link_to f.name, f %>,
  since <%= time_ago_in_words f.created_at %> ago
</p>
<% end %>
<% end %>

<% if @pledges.any? %>
<h3>Pledges:</h3>
<p>
  <% @pledges.each do |pl| %>
  <list>
    <ul>
      <li>
        Project: <%= link_to pl.project.name, pl.project %>
        received a <%= number_to_currency pl.pledge %> pledge <%= time_ago_in_words pl.created_at %> ago.
      </li>
    </ul>
  </list>
  <% end %>
</p>
<% end %>

<% if current_user_or_admin? @user %>
<p>
  <%= link_to "Delete Account", user_path(@user), data: { confirm: "Are you sure?"}, method: :delete %>
</p>
<% end %>

<% if current_user? @user %>
<p>
  <%= link_to "Edit Account", edit_user_path(@user) %>
</p>
<% end %>
