<article>

  <header>
    <h1><%= @project.name %></h1>
    <%= display_image(@project) %>
  </header>

  <table class="left-aligned">
    <tr>
      <th>
        Description
      </th>
      <td>
        <%= @project.description %>
      </td>
    </tr>
    <tr>
      <th>
        Target Pledge Amount
      </th>
      <td>
        <%= @project.target_pledge_amount %>
      </td>
    </tr>
    <tr>
      <th>
        Remaining Pledge Amount
      </th>
      <td>
        <%= display_pledge @project %>
      </td>
    </tr>
    <tr>
      <th>
        Pledging Ends On
      </th>
      <td>
        <%= format_pledge_end @project %>
      </td>
    </tr>
    <tr>
      <th>
        Website
      </th>
      <td>
        <%= @project.website %>
      </td>
    </tr>
    <tr>
      <th>
        Team Members
      </th>
      <td>
        <%= @project.team_members %>
      </td>
    </tr>
    <tr>
      <th>
        Following
      </th>
      <td>
        <%= pluralize @project.followers.count, "follower" %>
      </td>
    </tr>
  </table>

<% if @followers.any? %>
<h3>Followers</h3>
<p>
<ul>
  <% @followers.each do |f| %>
  <li>
    <%= gravatar_image f, size: 30 %>
    <%= link_to f.name, f %>
  </li>
  <% end %>
</ul>
</p>
<% end %>

<% if current_user %>
  <% if @current_follow %>
    <%= button_to "Unfollow", project_follow_path(@project), method: :delete %>
  <% else %>
    <%= button_to "Follow", project_follows_path(@project) %>
  <% end %>
<% end %>

  <p>
    <%= link_to "View Pledges", project_pledges_path(@project) %>
    <br />
  </p>

<% if current_user_admin? %>
  <p>
    <%= link_to "Edit", edit_project_path(@project) %> |
    <%= link_to "Delete Project", project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
<% end %>


</article>

<% if current_user %>
<p>
  Go-to project pledge: <%= link_to "Pledge to project", new_project_pledge_path(@project) %>
</p>
<%= render 'project_pledge' %>
<% end %>


<h3>Types</h3>
<ul>
<% @types.each do |t| %>
  <li>
    <%= t.name %>
  </li>
<% end %>
</ul>
