<aside id="sidebar">
  <ul class="no-dot">
    <li>
      Projects
    </li>
    <li>
      <%= nav_link_to "Pledging Projects", projects_path %>
    </li>
    <% if current_user_admin? %>
    <li>
      <%= nav_link_to "Add New Project", new_project_path %>
    </li>
    <li>
      <%= nav_link_to "Previous Projects", filter_projects_path(:pledging_ended) %>
    </li>
    <% end %>
  </ul>
  <ul class="no-dot">
    <li>
      Users
    </li>
    <li>
      <%= link_to "All Users", users_path, class: "page-link" %>
    </li>
  </ul>

  <%= content_for :side %>
</aside>
